.SfpoposSpace .SfpoposSpace-title {
  text-decoration: none;
  color: #000;
}
.SfpoposSpace {
  position: relative;
}
.SfpoposSpace img {
  width: 100%;
  height: 70%;
}
.SfpoposSpace h1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  text-align: left;
}

.SfpoposSpace .SfpoposSpace-info {
  position: relative;
  right: 0;
  bottom: 0;
  text-align: right;
}

.SfpoposSpace .SfpoposSpace-info div {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
}
